<%- include('./blocks/head.ejs')%>
<%- include('./blocks/navbar.ejs')%>
 

    <div class="container">
        <a class="btn_left" href="/plan" style="width: 70px; text-align: center; margin-left: 20px;  color: #fff;">
            Назад
        </a>
        
        
        <%if(!items.length) {%>
            <div class="error">
                Здесь пока пусто
            </div>
        <%} else {%>
            <input type="text" class="input__search" placeholder="Поиск " style="margin-left: 20px;">
          
            <div class="confirm_data">
                Расчет бонусов
            </div>
            

            <div  style="max-height: 550px; overflow: auto; margin-top: 25px;">
                
                <table class="table_dark" tabindex="0">
                    <thead>
                        <tr>
                            <th>Аптека</th>
                            <th>Должность</th>
                            <th>ФИО</th>
                            <th>раб/дни</th>
                            <th>фарм</th>
                            <th>Перевыполнение/достижение по сангигиене</th>
                            <th>реферат</th>
                            <th>тест</th>
                            <th>балл %</th>
                            <th>Обучение</th>
                            <th>Бухгалтерия</th>
                            <th>Отдел кадров</th>
                            <th> Отдел Сб </th>
                            <th>ИТОГО</th>
                            <th>Ревизия</th>
                            <th>Итого</th>
                            <th>Округвниз</th>
                            <th>начисление</th>
                            
                            
                        </tr>
                    </thead>
                    
                    <tbody>
                        <%items.forEach((item, i) => {%>
                            <tr class="search__item" tabindex="0">
                                <td><%=item.pharmacyShortName%></td>
                                <td><%=item.position%></td>
                                <td><%=item.fullname%></td>
                                <td><%=item.workDay%></td>
                                <td><%=item.bonusFromPartOne%></td>
                                <td><%=item.overfullfilmentBonus%></td>
                                <td>-</td>
                                <td>
                                    <%
                                    if(item.percentTestResult)
                                    {
                                    %>
                                        +
                                    <%
                                    }
                                    else
                                    {
                                    %>
                                        -
                                    <%    
                                    }
                                    %>
                                </td>
                                <td>
                                    <%
                                    if(item.percentTestResult)
                                    {
                                    %>
                                        <%=item.percentTestResult%>
                                    <%
                                    }
                                    else
                                    {
                                    %>
                                        -
                                    <%    
                                    }
                                    %>    
                                </td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        <%})%>
                    </tbody>
        
                   
                    
                </table>
            </div>
        <%}%>
        

               

        
    </div>

    <%
    if( error.length > 0)
    {
        %>
        
            <div class="small_fadeout_block small_fadeout_block_error animate__animated animate__backInDown">
                <button class="modal__close-button" id="modal__close-button"><img src="/img/close.svg" width="14" alt=""></button>
                <h3>Ошибка</h3>
                <p><%-error%> </p>
            </div>
            <script src="/js/smallWindow.js"></script>  
        <%
    }
    %> 
    


    <script src="/js/search.js"></script>

<%- include('./blocks/footer.ejs')%>